# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
env/
venv/

# Ignore all contents inside these folders except the .gitkeep file
output/emails/*
!output/emails/.gitkeep

output/schedules/*
!output/schedules/.gitkeep

store/*
!store/.gitkeep

test/*
!test/.gitkeep

# Mac system files
.DS_Store
